<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <title>Document</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Une description de la page" />
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js" type="module" defer></script>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    </head>
    <body>
        <div id="app">
            <form action="" v-on:submit.prevent="">

                <label for="Nbr1">Nomber</label>
                <input type="number" name="Nbr" v-model="Nbr">

                <label for="Nbr1">Currencies of the nomber</label>
                <select name="CurrenciN" v-model="CurrenciN">
                    <option value="" disabled>**Select currencies of the nomber**</option>
                    <option :value="Key" v-for="(Currenci, Key) in Currencies">{{Currenci}}</option>
                </select>

                <label for="Nbr1">Currencies for convert</label>
                <select  name="CurrenciC" v-model="CurrenciC">
                    <option value="" disabled>**Select currencies for convert**</option>
                    <option :value="Key" v-for="(Currenci, Key) in Currencies">{{Currenci}}</option>
                </select>

                <h3 v-for="(index, Key) in Result">The Result is {{ index }}</h3>

                <button type="submit" @click.prevent="convert">Convert</button>

            </form>
        </div>
    </body>
</html>